@use "var" as *;

.auth-sec {
  min-height: calc(100vh - 0rem);
  padding-bottom: 10rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  padding: 4rem 5rem;
  gap: 1rem;
  background-color: $color-white;
  border: 1px solid $color-grey;
  @include boxshadow;
  margin-top: 10rem;
  @media only screen and (max-width: $bp-5) {
    padding: 2rem 2rem;
    width: 90vw;
  }

  & h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__mode {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: $color-bg;
    border-radius: 10rem;
    overflow: hidden;
    margin-bottom: 1rem;
    @include boxshadow;

    & p {
      color: $color-dark-grey;
      z-index: 3;
      padding: 1rem 0;
      transition: all 0.3s;

      &:hover {
        background-color: $color-grey;
        cursor: pointer;
      }

      &.active {
        color: $color-font;
        background-color: transparent !important;
      }
    }

    &--shade {
      position: absolute;
      left: 0;
      width: 50%;
      height: 100%;
      transition: all 0.4s;
      background-color: $color-orange;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 35rem;
    row-gap: 1.5rem;

    @media only screen and (max-width: $bp-5) {
      width: 100%;
    }

    &--label {
      font-size: 1.4rem;
      margin-bottom: -0.8rem;
    }

    &--input {
      all: unset;
      background-color: $color-bg;
      font-size: 1.4rem;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      border: 1px solid $color-grey;

      & input {
        width: 100%;
        height: 100%;
        outline: none !important;
        border: none !important;
      }

      &::placeholder {
        color: $color-dark-grey;
      }

      & svg {
        color: $color-dark-grey;
        width: 1.8rem;
        height: 1.8rem;
      }

      & span {
        color: $color-dark-grey;
        transition: all 0.3s;
        &:hover {
          opacity: 0.5;
        }
      }
      & span svg {
        cursor: pointer;
        color: inherit;
        vertical-align: sub;
      }
    }

    &--profilePicture {
      position: relative;
      width: fit-content;
      cursor: pointer;

      &:hover img {
        filter: brightness(0.8);
      }

      & img {
        aspect-ratio: 1 / 1;
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        border-radius: 10rem;
        border: 1px solid $color-font;
        transition: all 0.3s;
        // @include boxshadow;
      }

      & span {
        background-color: $color-bg;
        border: 1px solid $color-font;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border-radius: 5rem;
        position: absolute;
        bottom: 0;
        right: 0;

        & svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    &--upload {
      &Placeholder {
        background-color: $color-bg;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px dashed $color-grey;
        border-radius: 1rem;
        padding: 1rem;
        transition: all 0.3s;

        & svg {
          width: 5rem;
          height: 5rem;
          stroke: $color-dark-grey;
        }

        & p {
          color: $color-dark-grey;
          font-size: 1.2rem;
        }

        &:hover {
          background-color: $color-grey;
          cursor: pointer;
        }
      }
    }
  }

  &__button {
    width: 100%;
    background-color: $color-orange;
    border-radius: 10rem;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-font;
    transition: all 0.2s;
    margin-top: 1rem;
    @include boxshadow;
    &:active {
      transform: translate(2px, 2px);
      box-shadow: 1px 1px 0px $color-font !important;
    }
  }
}
.auth__form--input:focus-within {
  outline: 2px solid rgba($color-orange, 0.8);
}
