@use "var" as *;

.auth-sec {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  padding: 4rem 5rem;
  gap: 1rem;
  background-color: $color-white;
  border: 1px solid $color-grey;
  @include boxshadow;

  & h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__mode {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: $color-bg;
    border-radius: 10rem;
    overflow: hidden;
    margin-bottom: 1rem;
    @include boxshadow;

    & p {
      color: $color-dark-grey;
      z-index: 3;
      padding: 1rem 0;
      transition: all 0.3s;

      &:hover {
        background-color: $color-grey;
        cursor: pointer;
      }

      &.active {
        color: $color-font;
        background-color: transparent !important;
      }
    }

    &--shade {
      position: absolute;
      left: 0;
      width: 50%;
      height: 100%;
      transition: all 0.4s;
      background-color: $color-blue;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 35rem;
    row-gap: 1.5rem;

    &--label {
      font-size: 1.4rem;
      margin-bottom: -0.8rem;
    }

    &--input {
      all: unset;
      background-color: $color-bg;
      font-size: 1.4rem;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      border: 1px solid $color-grey;

      & input {
        width: 100%;
        height: 100%;
        outline: none !important;
        border: none !important;
      }

      &::placeholder {
        color: $color-dark-grey;
      }

      & svg {
        color: $color-dark-grey;
        width: 1.8rem;
        height: 1.8rem;
      }

      & span {
        color: $color-dark-grey;
        transition: all 0.3s;
        &:hover {
          opacity: 0.5;
        }
      }
      & span svg {
        cursor: pointer;
        color: inherit;
        vertical-align: sub;
      }
    }
  }

  &__button {
    width: 100%;
    background-color: $color-blue;
    border-radius: 10rem;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-font;
    transition: all 0.2s;
    margin-top: 1rem;
    @include boxshadow;
    &:active {
      transform: translate(2px, 2px);
      box-shadow: 1px 1px 0px $color-font !important;
    }
  }
}
.auth__form--input:focus-within {
  outline: 2px solid rgba($color-blue, 0.8);
}
