@use "var";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
  // scrollbar-color: var.$color-grey var.$color-primary;
  scrollbar-width: thin;
}

body {
  background-color: var.$color-bg;
  color: var.$color-font;
  font-family: var.$font;

  --dot-bg: var.$color-;
  --dot-color: rgb(202, 202, 202);
  --dot-size: 2px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var.$color-bg calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var.$color-bg calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  position: relative;
}
