@use "var" as *;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  // scrollbar-color: $color-grey $color-primary;
  scrollbar-width: thin;
}

body {
  background-color: $color-bg;
  color: $color-font;
  font-family: $font;

  --dot-bg: $color-;
  --dot-color: rgb(202, 202, 202);
  --dot-size: 2px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        $color-bg calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        $color-bg calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  position: relative;
}
