@use "var" as *;

section,
.landing__hero {
  width: 120rem;
  margin: auto;

  & h2 {
    font-size: 3rem;
    text-align: center;
    @media only screen and (max-width: $bp-8) {
      font-size: 2.5rem;
    }
    @media only screen and (max-width: $bp-6) {
      font-size: 2.2rem;
    }
  }

  & > p {
    font-size: 1.7rem;
    text-align: center;
    color: $color-dark-grey;
  }

  @media only screen and (max-width: $bp-12) {
    width: 95vw;
  }
  @media only screen and (max-width: $bp-7) {
    width: 90vw;
  }
}

section {
  margin: 20rem auto;
  display: grid;
  row-gap: 2rem;

  &:nth-child(2) {
    margin-top: 0;
  }

  & > p {
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-7) {
      font-size: 1.6rem;
      width: 80%;
    }
    @media only screen and (max-width: $bp-5) {
      font-size: 1.6rem;
      width: 100%;
    }
  }
}

h1 {
  font-family: $font-display;
  font-size: 5rem;
  text-align: center;
  font-weight: 500;

  @media only screen and (max-width: $bp-12) {
    font-size: 4vw;
  }
  @media only screen and (max-width: $bp-9) {
    font-size: 4.5vw;
  }
  @media only screen and (max-width: $bp-7) {
    font-size: 3.5rem;
  }
  @media only screen and (max-width: $bp-6) {
    font-size: 3rem;
  }
  @media only screen and (max-width: $bp-5) {
    font-size: 3rem;
  }
}

.btn {
  color: $color-font;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;

  &:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }
}

.btn-orange {
  border-radius: 10rem;
  font-weight: 500;
  padding: 1.2rem 3rem;
  background-color: $color-orange;
  @include boxshadow;

  @media only screen and (max-width: $bp-8) {
    padding: 1.3rem 5rem;
  }
  @media only screen and (max-width: $bp-7) {
    font-size: 1.5rem;
  }

  &:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px $color-font !important;
  }
}

.btn-icon {
  @include flexCenter;
  column-gap: 1rem;

  & svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.footer {
  // height: 20rem;
  background-color: $color-white;
  border-top: 1px solid $color-light-grey;
  z-index: 5;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  font-size: 1.6rem;
  text-align: center;
  padding: 4rem 0rem;

  @media only screen and (max-width: $bp-8) {
    font-size: 1.5rem;
  }
  @media only screen and (max-width: $bp-6) {
    font-size: 1.4rem;
  }

  &__logo {
    & img {
      width: 3rem;
      height: 3rem;
    }
  }

  &__menu {
    @include flexCenter;
    column-gap: 2.5rem;
  }

  &__line {
    width: 120rem;
    height: 1px;
    background-color: $color-light-grey;
    margin: auto;
    @media only screen and (max-width: $bp-12) {
      width: 95vw;
    }
    @media only screen and (max-width: $bp-7) {
      width: 90vw;
    }
  }

  &__copyright {
    color: $color-dark-grey;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.success,
.error {
  padding: 0.8rem 1rem;
  font-size: 1.4rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  border: 1px solid currentColor;

  & svg {
    width: 2.5rem;
    height: 2.5rem;
    color: inherit;
  }

  & p {
    color: $color-font;
    font-weight: 500;
  }
}

.error {
  color: $color-red;
  background-color: rgba($color-red, 0.3);
}

.success {
  color: $color-green;
  background-color: rgba($color-green, 0.3);
}
