@use "var";

.landing {
  &__hero {
    min-height: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5rem;
    position: relative;

    &--heading {
      display: flex;
      flex-wrap: wrap;
      column-gap: 2rem;
      justify-content: center;
    }

    &--circle {
      background-image: radial-gradient(
        rgba(var.$color-blue, 0.4),
        rgba(var.$color-purple, 0.4) 50%,
        rgba(var.$color-green, 0.4) 70%
      );
      width: 80rem;
      height: 30rem;
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      filter: blur(10rem);
    }

    & h1 {
      font-family: var.$font-display;
      font-size: 5rem;
      text-align: center;
    }

    & p {
      font-size: 2rem;
      font-weight: 400;
      text-align: center;
    }

    & a {
      font-size: 1.8rem;
      font-weight: 600;
      padding: 1.5rem 5rem;
    }

    // & a {
    //   font-size: 1.8rem;
    //   padding: 1.4rem 8rem;
    //   border-radius: 10rem;
    //   position: relative;
    //   background-color: var.$color-bg;

    //   &::before {
    //     border-radius: 10rem;
    //     content: "";
    //     z-index: -1;
    //     width: calc(100% + 5px);
    //     height: calc(100% + 5px);
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     background-image: linear-gradient(
    //       to right bottom,
    //       var.$color-purple,
    //       var.$color-blue
    //     );
    //   }
    // }
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }

  .feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 1rem;
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.55),
      rgba(245, 245, 245, 0.55)
    );
    border: 2px solid #fff;
    border-radius: 1rem;
    padding: 1.5rem 1.8rem;

    &__icon {
      padding: 1rem;
      display: flex;
      width: fit-content;
      border-radius: 1rem;

      & svg {
        width: 3rem;
        height: 3rem;
      }
    }

    &__title {
      font-size: 1.8rem;
    }

    &__content {
      font-size: 1.6rem;
      color: var.$color-grey;
    }
  }

  .feature:nth-child(1) {
    & svg {
      color: var.$color-blue;
    }
    box-shadow: 0px 0px 5rem rgba(var.$color-blue, 0.2);
    & span {
      background-color: rgba(var.$color-blue, 0.2);
      box-shadow: 0px 0px 3rem rgba(var.$color-blue, 0.3);
    }
  }
  .feature:nth-child(2) {
    & svg {
      color: var.$color-green;
    }
    box-shadow: 0px 0px 5rem rgba(var.$color-green, 0.2);
    & span {
      background-color: rgba(var.$color-green, 0.2);
      box-shadow: 0px 0px 3rem rgba(var.$color-green, 0.3);
    }
  }
  .feature:nth-child(3) {
    & svg {
      color: var.$color-purple;
    }
    box-shadow: 0px 0px 5rem rgba(var.$color-purple, 0.2);
    & span {
      background-color: rgba(var.$color-purple, 0.2);
      box-shadow: 0px 0px 3rem rgba(var.$color-purple, 0.3);
    }
  }

  &__steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    position: relative;
  }

  .step {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0rem 1.8rem;

    &__number {
      font-size: 1.8rem;
      margin: 0 auto;
      margin-bottom: 1.5rem;
      width: fit-content;
      padding: 1rem;
      aspect-ratio: 1 / 1;
      border-radius: 10rem;
      font-weight: 700;
    }

    &__title {
      font-size: 1.8rem;
      font-weight: 700;
    }

    &__content {
      font-size: 1.6rem;
      color: var.$color-grey;
    }

    &__line1,
    &__line2 {
      width: 29%;
      height: 0.5rem;
      position: absolute;
      top: 1.7rem;
      border-radius: 1rem;
      transform-origin: right;
    }
    &__line1 {
      left: 18.7%;
      background-image: linear-gradient(
        to right,
        var.$color-blue,
        var.$color-green
      );
    }
    &__line2 {
      left: 52.3%;
      background-image: linear-gradient(
        to right,
        var.$color-green,
        var.$color-purple
      );
    }
  }

  .step:nth-child(1) {
    & .step__number {
      color: var.$color-blue;
      background-color: rgba(var.$color-blue, 0.2);
      box-shadow: 0px 0px 5rem rgba(var.$color-blue, 0.3);
    }
  }
  .step:nth-child(2) {
    & .step__number {
      color: var.$color-green;
      background-color: rgba(var.$color-green, 0.2);
      box-shadow: 0px 0px 5rem rgba(var.$color-green, 0.3);
    }
  }
  .step:nth-child(3) {
    & .step__number {
      color: var.$color-purple;
      background-color: rgba(var.$color-purple, 0.2);
      box-shadow: 0px 0px 5rem rgba(var.$color-purple, 0.3);
    }
  }

  &__partners {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & img {
      height: 5rem;
      object-fit: contain;
    }
  }
}
