@use "var";

.landing {
  &__hero {
    min-height: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5rem;
    position: relative;

    @media only screen and (max-width: var.$bp-10) {
      row-gap: 3rem;
    }
    @media only screen and (max-width: var.$bp-6) {
      row-gap: 2rem;
    }

    &--heading {
      display: flex;
      flex-wrap: wrap;
      column-gap: 2rem;
      justify-content: center;
    }

    &--circle {
      background-image: radial-gradient(
        rgba(var.$color-blue, 0.4),
        rgba(var.$color-purple, 0.4) 50%,
        rgba(var.$color-green, 0.4) 70%
      );
      width: 80rem;
      height: 30rem;
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      filter: blur(10rem);
    }

    & h1 {
      font-family: var.$font-display;
      font-size: 5rem;
      text-align: center;
      font-weight: 500;

      @media only screen and (max-width: var.$bp-12) {
        font-size: 4vw;
      }
      @media only screen and (max-width: var.$bp-9) {
        font-size: 4.5vw;
      }
      @media only screen and (max-width: var.$bp-7) {
        font-size: 3.5rem;
      }
      @media only screen and (max-width: var.$bp-6) {
        font-size: 3rem;
      }
      @media only screen and (max-width: var.$bp-5) {
        font-size: 2.5rem;
      }
    }

    & p {
      font-size: 2rem;
      font-weight: 400;
      text-align: center;
      @media only screen and (max-width: var.$bp-8) {
        font-size: 1.8rem;
      }
      @media only screen and (max-width: var.$bp-6) {
        font-size: 1.6rem;
      }
    }

    & a {
      // font-size: 1.8rem;
      font-weight: 600;
      padding: 1.5rem 5rem;

      @media only screen and (max-width: var.$bp-8) {
        padding: 1.3rem 5rem;
      }
    }
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;

    @media only screen and (max-width: var.$bp-7) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 1rem;
    }
  }

  .feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 1rem;
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.55),
      rgba(245, 245, 245, 0.55)
    );
    border: 2px solid #fff;
    border-radius: 1rem;
    padding: 1.5rem 1.8rem;

    &__icon {
      padding: 1rem;
      display: flex;
      width: fit-content;
      border-radius: 1rem;

      & svg {
        width: 3rem;
        height: 3rem;
      }
    }

    &__title {
      font-size: 1.8rem;
    }

    &__content {
      font-size: 1.6rem;
      color: var.$color-grey;
    }
  }

  .feature:nth-child(1) {
    & svg {
      color: var.$color-blue;
    }
    box-shadow: 0px 0px 5rem rgba(var.$color-blue, 0.2);
    & span {
      background-color: rgba(var.$color-blue, 0.2);
      box-shadow: 0px 0px 3rem rgba(var.$color-blue, 0.3);
    }
  }
  .feature:nth-child(2) {
    & svg {
      color: var.$color-green;
    }
    box-shadow: 0px 0px 5rem rgba(var.$color-green, 0.2);
    & span {
      background-color: rgba(var.$color-green, 0.2);
      box-shadow: 0px 0px 3rem rgba(var.$color-green, 0.3);
    }
  }
  .feature:nth-child(3) {
    & svg {
      color: var.$color-purple;
    }
    box-shadow: 0px 0px 5rem rgba(var.$color-purple, 0.2);
    & span {
      background-color: rgba(var.$color-purple, 0.2);
      box-shadow: 0px 0px 3rem rgba(var.$color-purple, 0.3);
    }
  }

  &__steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    position: relative;

    @media only screen and (max-width: var.$bp-6) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 4rem;
    }
  }

  .step {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0rem 1.8rem;
    @media only screen and (max-width: var.$bp-6) {
      text-align: left;
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-rows: min-content 1fr;
      column-gap: 2rem;
      padding: 0rem;
      position: relative;
    }

    &__number {
      font-size: 1.8rem;
      margin: 0 auto;
      margin-bottom: 1.5rem;
      width: fit-content;
      padding: 1rem;
      aspect-ratio: 1 / 1;
      border-radius: 10rem;
      font-weight: 700;
      @media only screen and (max-width: var.$bp-6) {
        text-align: center;
        margin: 0 0;
        grid-row: 1 / -1;
        width: 4.1rem;
      }
    }

    &__title {
      font-size: 1.8rem;
      font-weight: 700;
    }

    &__content {
      font-size: 1.6rem;
      color: var.$color-grey;
    }

    &__line1,
    &__line2 {
      width: 29%;
      height: 0.5rem;
      position: absolute;
      top: 1.7rem;
      border-radius: 1rem;
      transform-origin: left;

      @media only screen and (max-width: var.$bp-10) {
        width: 26vw;
      }
      @media only screen and (max-width: var.$bp-6) {
        display: none;
      }
    }
    &__line1 {
      left: 18.7%;
      background-image: linear-gradient(
        to right,
        var.$color-blue,
        var.$color-green
      );
      @media only screen and (max-width: var.$bp-10) {
        left: 18.5vw;
      }
    }
    &__line2 {
      left: 52.3%;
      background-image: linear-gradient(
        to right,
        var.$color-green,
        var.$color-purple
      );
      @media only screen and (max-width: var.$bp-10) {
        left: 50.5vw;
      }
    }
  }

  .step1::after,
  .step2::after {
    content: "";
    display: none;
    transform: scaleY(var(--line-scale, 0));
    opacity: var(--line-opacity, 0);

    @media only screen and (max-width: var.$bp-6) {
      display: block;
      width: 0.3rem;
      position: absolute;
      left: 1.9rem;
      border-radius: 1rem;
      transform-origin: top;
      height: 91%;
      top: 4.5rem;
    }
  }

  .step1::after {
    background-image: linear-gradient(
      to bottom,
      var.$color-blue,
      var.$color-green
    );
  }
  .step2::after {
    background-image: linear-gradient(
      to bottom,
      var.$color-green,
      var.$color-purple
    );
  }

  .step:nth-child(1) {
    & .step__number {
      color: var.$color-blue;
      background-color: rgba(var.$color-blue, 0.2);
      box-shadow: 0px 0px 5rem rgba(var.$color-blue, 0.3);
    }
  }
  .step:nth-child(2) {
    & .step__number {
      color: var.$color-green;
      background-color: rgba(var.$color-green, 0.2);
      box-shadow: 0px 0px 5rem rgba(var.$color-green, 0.3);
    }
  }
  .step:nth-child(3) {
    & .step__number {
      color: var.$color-purple;
      background-color: rgba(var.$color-purple, 0.2);
      box-shadow: 0px 0px 5rem rgba(var.$color-purple, 0.3);
    }
  }

  &__partners {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: var.$bp-5) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: 2rem;
    }

    & img {
      height: 5rem;
      object-fit: contain;

      @media only screen and (max-width: var.$bp-7) {
        height: 4rem;
      }
      @media only screen and (max-width: var.$bp-5) {
        height: 3rem;
      }
    }
  }
}
