@use "var" as *;

.info {
  @include flexCenter;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;

  &__gradient {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -10vw;
    opacity: 0.6;
  }

  &__gradient {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(
        circle at 50% 181%,
        #8000ff06 50%,
        transparent 56.05%
      ),
      radial-gradient(circle at 50% 219%, #ff800041 50%, transparent 75.05%);
  }

  &__container {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100rem;
    padding: 3rem;
    row-gap: 4rem;
    z-index: 2;

    @media only screen and (max-width: $bp-6) {
      row-gap: 2rem;
    }

    & p {
      font-size: 2rem;
      color: $color-dark-grey;
      @media only screen and (max-width: $bp-8) {
        font-size: 1.8rem;
      }
      @media only screen and (max-width: $bp-6) {
        font-size: 1.6rem;
      }
    }

    &--btns {
      display: flex;
      justify-content: center;
      column-gap: 2rem;
      @media only screen and (max-width: $bp-8) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
      }
    }

    & a,
    & button {
      font-family: inherit;
      font-size: 1.8rem;
      font-weight: 600;
      cursor: pointer;
      border-radius: 10rem;
      @include boxshadow;
      transition: all 0.3s;
      padding: 1.5rem 2rem;
      display: flex;
      align-items: center;
      column-gap: 1rem;
      justify-content: center;

      & svg {
        width: 2.5rem;
        height: 2.5rem;
      }

      &:active {
        transform: translate(2px, 2px);
        box-shadow: 1px 1px 0px $color-font !important;
      }

      &:nth-child(1) {
        background-color: $color-orange;
      }
      &:nth-child(2) {
        background-color: $color-white;
        @media only screen and (max-width: $bp-8) {
          padding: 1.4rem 0rem;
        }
      }

      @media only screen and (max-width: $bp-8) {
        font-size: 1.5rem;
        min-width: 28rem;
        padding: 1.2rem 0rem;
      }

      @media only screen and (max-width: $bp-3) {
        min-width: 100%;
        padding: 1rem 1rem;
      }
    }
  }
}

.info__locations {
  display: grid;
  gap: 1rem;
  grid-template-rows: min-content 1fr min-content min-content;
  border-radius: 2rem;

  & h2 {
    grid-column: 1 / -1;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: $color-font;
    margin-bottom: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & svg {
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
    }

    @media only screen and (max-width: $bp-6) {
      font-size: 1.8rem;
    }
  }

  & iframe {
    grid-column: 1 / -1;
    border-radius: 2rem;
    margin-bottom: 1rem;
    max-height: 40rem;
    height: 30vh;
    @include boxshadow;

    @media only screen and (max-width: $bp-6) {
      height: 20vh;
    }
  }

  &--list {
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    // row-gap: 1rem;
    max-height: 40rem;
    height: 30vh;
    overflow-y: scroll;
    @include boxshadow;

    & .infocard {
      cursor: pointer;
    }
  }
}

.infocard {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem;
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba(254, 254, 254, 0.5),
  //   #e8e8e880
  // );
  // border-radius: 10rem;
  // width: calc(100% - 3px);
  // background-color: $color-white;
  // @include boxshadow;
  transition: all 0.3s;

  // &:active {
  //   transform: translate(2px, 2px);
  //   box-shadow: 1px 1px 0px $color-font;
  // }

  &:hover {
    background-color: $color-light-grey;
  }

  &__active {
    opacity: 1;
    background-color: $color-light-grey;
  }

  & > p {
    color: $color-font;
  }

  &__icon {
    padding: 0.7rem;
    border-radius: 10rem;
    aspect-ratio: 1 / 1;
    @media only screen and (max-width: $bp-6) {
      padding: 0.5rem;
    }

    & svg {
      width: 2.5rem;
      height: 2.5rem;
      @media only screen and (max-width: $bp-6) {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__content {
    font-size: 1.6rem;
    font-weight: 600;

    @media only screen and (max-width: $bp-6) {
      font-size: 1.4rem;
    }
  }

  &__blue,
  &__shop {
    color: $color-orange;
    & .infocard__icon {
      background-color: rgba($color-orange, 0.2);
    }
  }
  &__green,
  &__restaurant {
    color: $color-blue;
    & .infocard__icon {
      background-color: rgba($color-blue, 0.2);
    }
  }
  &__purple,
  &__hotel {
    grid-column: 1 / -1;
    color: $color-purple;
    & .infocard__icon {
      background-color: rgba($color-purple, 0.2);
    }
  }
}

.MuiBox-root {
  background-color: $color-white;
  backdrop-filter: blur(1rem);
  border: 2px solid $color-font !important;

  @media only screen and (max-width: $bp-6) {
    padding: 3rem !important;
  }
  @media only screen and (max-width: $bp-5) {
    padding: 2.5rem 2rem !important;
  }
}
.MuiFormControl-root {
  margin: 0 !important;
  font-family: $font;

  & label {
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 500;
    top: -0.2rem !important;
    @media only screen and (max-width: $bp-6) {
      font-size: 1.4rem !important;
    }
  }
}

.MuiListItemText-root span {
  font-family: $font;
  font-size: 1.5rem !important;

  @media only screen and (max-width: $bp-6) {
    font-size: 1.4rem !important;
  }
}

.MuiList-root {
  padding: 0.5rem 0rem !important;
}

.MuiPaper-elevation {
  background-color: rgba($color: $color-white, $alpha: 0.6) !important;
  backdrop-filter: blur(0.7rem);
}

.MuiPaper-rounded {
  border-radius: 1rem !important;
}

.MuiSvgIcon-root {
  width: 2rem !important;
  height: 2rem !important;
}

.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.Mui-checked {
  color: $color-orange !important;
}

.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: rgba($color-orange, 0.2) !important;
}

.MuiSelect-select {
  font-size: 1.4rem !important;
  font-family: $font !important;
}

#demo-multiple-checkbox {
  min-height: auto;
  text-transform: capitalize;
}

.MuiOutlinedInput-notchedOutline {
  @include boxshadow;
  border-radius: 1rem !important;
  color: $color-font !important;

  & legend {
    width: 6rem !important;
  }
}

.MuiOutlinedInput-notchedOutline[aria-expanded="true"] {
  border-color: $color-orange !important;
}
.MuiOutlinedInput-notchedOutline[aria-expanded="false"] {
  color: $color-light-grey !important;
}

.MuiButtonBase-root {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
  text-transform: capitalize;
}

#demo-multiple-checkbox-label {
  display: flex !important;
  column-gap: 1rem;
  align-items: center;
  @media only screen and (max-width: $bp-6) {
    column-gap: 0.5rem;
  }
  & svg {
    width: 2rem;
    height: 2rem;

    @media only screen and (max-width: $bp-6) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
