@use "var";

.info {
  min-height: 100vh;
  width: 100%;
  background-image: url(../src/assets/office_bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    width: 100rem;
    padding: 3rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(172, 172, 172, 0.7)
      ),
      url(../src/assets/gradient_blob.png);
    background-size: contain;
    backdrop-filter: blur(5rem);
    & h2 {
      font-size: 2.2rem;
    }
  }

  & a {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    padding: 1.5rem;
    border-radius: 10rem;
    background-image: linear-gradient(
      to right bottom,
      var.$color-blue,
      var.$color-purple
    );
  }

  &__map, &__locations {
    display: grid;
    gap: 1rem;
    grid-template-rows: min-content 1fr min-content min-content;
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.5),
      rgba(232, 232, 232, 0.5)
    );
    padding: 2.5rem;
    border-radius: 2rem;

    & h2 {
      grid-column: 1 / -1;
      font-weight: 500;
      line-height: 1;
    }

    & iframe {
      grid-column: 1 / -1;
      border-radius: 2rem;
    }
  }

  &__map {
    grid-template-columns: 1fr 1fr;
  }

  &__locations {
    &--list {
      display: grid;
      row-gap: 1rem;
    }
  }
}

.infocard {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 0.7rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(245, 245, 245, 0.5)
  );
  backdrop-filter: blur(1rem);
  border-radius: 10rem;

  &__icon {
    padding: 0.7rem;
    border-radius: 10rem;
    aspect-ratio: 1 / 1;

    & svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__content {
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__blue, &__shop {
    color: var.$color-blue;
    & .infocard__icon {
      background-color: rgba(var.$color-blue, 0.2);
    }
  }
  &__green, &__restaurant {
    color: var.$color-green;
    & .infocard__icon {
      background-color: rgba(var.$color-green, 0.2);
    }
  }
  &__purple, &__hotel {
    grid-column: 1 / -1;
    color: var.$color-purple;
    & .infocard__icon {
      background-color: rgba(var.$color-purple, 0.2);
    }
  }
}
