@use "var";

.info {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  &__gradient {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -10vw;
    opacity: 0.6;
  }

  &__container {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100rem;
    padding: 3rem;
    row-gap: 4rem;
    z-index: 2;

    @media only screen and (max-width: var.$bp-6) {
    row-gap: 2rem;
    }

    & h1 {
      font-size: 5rem;

      @media only screen and (max-width: var.$bp-10) {
        font-size: 4.5rem;
      }
      @media only screen and (max-width: var.$bp-8) {
        font-size: 4rem;
      }
      @media only screen and (max-width: var.$bp-6) {
        font-size: 3.5rem;
      }
    }

    & p {
      font-size: 2rem;
      color: var.$color-grey;
      @media only screen and (max-width: var.$bp-8) {
        font-size: 1.8rem;
      }
      @media only screen and (max-width: var.$bp-6) {
        font-size: 1.6rem;
      }
    }

    & a,
    & button {
      font-family: inherit;
      font-size: 1.8rem;
      font-weight: 600;
      cursor: pointer;

      @media only screen and (max-width: var.$bp-8) {
        font-size: 1.6rem;
        min-width: 28rem;
        padding: 1rem 0rem;
      }
      @media only screen and (max-width: var.$bp-3) {
        font-size: 1.6rem;
        min-width: 100%;
        padding: 1rem 1rem;

        & svg {
          width: 2.5rem;
          height: 2.5rem;
        }
      }

      &:nth-child(2) {
        display: flex;
        align-items: center;
        border: 1px solid var.$color-font;
        border-radius: 10rem;
        box-shadow: 3px 3px 0px var.$color-font;
        padding: 0rem 2rem;
        transition: all 0.3s;
        justify-content: center;

        @media only screen and (max-width: var.$bp-8) {
          font-size: 1.6rem;
          max-width: 28rem;
          padding: 1.2rem 0rem;
        }

        &:hover {
          background-color: var.$color-light-grey;
        }

        &:active {
          transform: translate(2px, 2px);
          box-shadow: 1px 1px 0px var.$color-font;
        }
      }
    }

    &--btns {
      display: flex;
      justify-content: center;
      column-gap: 2rem;
      @media only screen and (max-width: var.$bp-8) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
      }
    }
  }
}

.info__locations {
  display: grid;
  gap: 1rem;
  grid-template-rows: min-content 1fr min-content min-content;
  border-radius: 2rem;

  & h2 {
    grid-column: 1 / -1;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: var.$color-font;
    margin-bottom: 0.5rem;
  }

  & iframe {
    grid-column: 1 / -1;
    border-radius: 2rem;
    margin-bottom: 1rem;
    border: 1px solid var.$color-font !important;
    box-shadow: 3px 3px 0px var.$color-font;
  }

  &--list {
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    // row-gap: 1rem;
    height: 30rem;
    overflow-y: scroll;
    box-shadow: 3px 3px 0px var.$color-font;
    border: 1px solid var.$color-font;

    & .infocard {
      cursor: pointer;
    }
  }
}

.infocard {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem;
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba(254, 254, 254, 0.5),
  //   #e8e8e880
  // );
  // border-radius: 10rem;
  // width: calc(100% - 3px);
  // background-color: var.$color-white;
  // box-shadow: 3px 3px 0px var.$color-font;
  // border: 1px solid var.$color-font;
  transition: all 0.3s;

  // &:active {
  //   transform: translate(2px, 2px);
  //   box-shadow: 1px 1px 0px var.$color-font;
  // }

  &:hover {
    background-color: var.$color-light-grey;
  }

  &__active {
    opacity: 1;
    background-color: var.$color-light-grey;
  }

  & > p {
    color: var.$color-font;
  }

  &__icon {
    padding: 0.7rem;
    border-radius: 10rem;
    aspect-ratio: 1 / 1;

    & svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__content {
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__blue,
  &__shop {
    color: var.$color-blue;
    & .infocard__icon {
      background-color: rgba(var.$color-blue, 0.2);
    }
  }
  &__green,
  &__restaurant {
    color: var.$color-green;
    & .infocard__icon {
      background-color: rgba(var.$color-green, 0.2);
    }
  }
  &__purple,
  &__hotel {
    grid-column: 1 / -1;
    color: var.$color-purple;
    & .infocard__icon {
      background-color: rgba(var.$color-purple, 0.2);
    }
  }
}

.MuiBox-root {
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba(254, 254, 254, 0.8),
  //   rgba(172, 172, 172, 0.8)
  // );
  background-color: #f1f1f1;
  backdrop-filter: blur(1rem);
  // box-shadow: 3px 3px 0px var.$color-font !important;
  border: 2px solid var.$color-font !important;
}
.MuiFormControl-root {
  margin: 0 !important;
  font-family: var.$font;

  & label {
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 500;
    top: -0.2rem !important;
  }
}

.MuiListItemText-root span {
  font-family: var.$font;
  font-size: 1.5rem !important;
}

.MuiList-root {
  padding: 0.5rem 0rem !important;
}

.MuiPaper-rounded {
  border-radius: 1rem !important;
}

.MuiSvgIcon-root {
  width: 2rem !important;
  height: 2rem !important;
}

.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.Mui-checked {
  color: var.$color-blue !important;
}

.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: rgba(var.$color-blue, 0.2) !important;
}

.MuiSelect-select {
  font-size: 1.4rem !important;
  font-family: var.$font !important;
}

#demo-multiple-checkbox {
  min-height: auto;
  text-transform: capitalize;
}

.MuiOutlinedInput-notchedOutline {
  border-radius: 1rem !important;
  box-shadow: 3px 3px 0px var.$color-font;
  border: 1px solid var.$color-font !important;
  color: var.$color-font !important;

  & legend {
    width: 6rem !important;
  }
}

.MuiOutlinedInput-notchedOutline[aria-expanded="true"] {
  border-color: var.$color-blue !important;
}
.MuiOutlinedInput-notchedOutline[aria-expanded="false"] {
  color: var.$color-light-grey !important;
}

.MuiButtonBase-root {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
  text-transform: capitalize;
}

#demo-multiple-checkbox-label {
  display: flex !important;
  column-gap: 1rem;
  & svg {
    width: 2rem;
    height: 2rem;
  }
}
