@use "var";

.info {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  --dot-bg: var.$color-;
  --dot-color: rgb(202, 202, 202);
  --dot-size: 2px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var.$color-bg calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var.$color-bg calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);

  &__gradient {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -20%;
    opacity: 0.6;
  }

  &__blob1 {
    position: absolute;
    bottom: 10%;
    right: 10%;
    // transform: translate(-50%, -50%);
    width: 50rem;
    opacity: 0.4;
    z-index: 2;
  }
  &__blob2 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 40rem;
    opacity: 0.4;
    z-index: 2;
  }
  &__blob3 {
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    opacity: 0.4;
    z-index: -1;
  }

  &__container {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100rem;
    padding: 3rem;
    row-gap: 4rem;
    z-index: 2;

    & h1 {
      font-size: 5rem;
    }

    & p {
      font-size: 2rem;
      color: var.$color-grey;
    }

    & a,
    & button {
      font-family: inherit;
      font-size: 1.8rem;
      font-weight: 600;
      cursor: pointer;

      &:nth-child(2) {
        display: flex;
        align-items: center;
        border-radius: 10rem;
        border: 2px solid var.$color-light-grey;
        padding: 0rem 2rem;
        transition: all 0.3s;

        &:hover {
          background-color: var.$color-light-grey;
        }
      }
    }

    &--btns {
      display: flex;
      justify-content: center;
      column-gap: 2rem;
    }
  }

  &__locations {
    display: grid;
    gap: 1rem;
    grid-template-rows: min-content 1fr min-content min-content;
    border-radius: 2rem;

    & h2 {
      grid-column: 1 / -1;
      font-weight: 600;
      font-size: 2rem;
      line-height: 1;
      color: var.$color-font;
      margin-bottom: 0.5rem;
    }

    & iframe {
      grid-column: 1 / -1;
      border-radius: 2rem;
    }

    &--list {
      display: grid;
      row-gap: 1rem;
      height: 30rem;
      overflow-y: scroll;

      & .infocard {
        cursor: pointer;
      }
    }
  }
}


.infocard {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 0.7rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(254, 254, 254, 0.5),
    #e8e8e880
  );
  border-radius: 10rem;

  & > p {
    color: var.$color-font;
  }

  &__icon {
    padding: 0.7rem;
    border-radius: 10rem;
    aspect-ratio: 1 / 1;

    & svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__content {
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__blue,
  &__shop {
    color: var.$color-blue;
    & .infocard__icon {
      background-color: rgba(var.$color-blue, 0.2);
    }
  }
  &__green,
  &__restaurant {
    color: var.$color-green;
    & .infocard__icon {
      background-color: rgba(var.$color-green, 0.2);
    }
  }
  &__purple,
  &__hotel {
    grid-column: 1 / -1;
    color: var.$color-purple;
    & .infocard__icon {
      background-color: rgba(var.$color-purple, 0.2);
    }
  }

  &__active {
    opacity: 1;
    background-color: #e6e6e6;
  }
}

.MuiBox-root {
  background-image: linear-gradient(
    to right bottom,
    rgba(254, 254, 254, 0.7),
    rgba(172, 172, 172, 0.7)
  );
  backdrop-filter: blur(1rem);
}
