@use "var";

.navbar {
  position: absolute;
  top: 1rem;
  z-index: 4;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  width: 120rem;
  grid-template-columns: repeat(3, 20rem);
  justify-content: space-around;
  text-align: center;
  margin: auto;
  padding: 1.5rem 0;
  background-color: var.$color-bg;
  border: 1px solid var.$color-font;
  border-radius: 10rem;
  box-shadow: 3px 3px 0px var.$color-font;

  @media only screen and (max-width: var.$bp-12) {
    width: 95vw;
  }
  @media only screen and (max-width: var.$bp-7) {
    grid-template-columns: repeat(3, 1fr);
  }

  & a {
    font-size: 1.8rem;
    font-weight: 500;
    @media only screen and (max-width: var.$bp-6) {
      font-size: 1.6rem;
    }
  }
}
