@use "var" as *;

.navbar {
  position: absolute;
  top: 1.5rem;
  z-index: 4;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  width: 120rem;
  grid-template-columns: repeat(3, 20rem);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0.4rem 0;
  background-color: $color-white;
  border-radius: 10rem;
  @include boxshadow();

  @media only screen and (max-width: $bp-12) {
    width: 95vw;
  }
  @media only screen and (max-width: $bp-7) {
    grid-template-columns: repeat(3, 1fr);
    width: 90vw;
  }

  & a {
    font-size: 1.8rem;
    padding: 1rem 0;
    font-weight: 500;
    @media only screen and (max-width: $bp-8) {
      font-size: 1.6rem;
    }
    @media only screen and (max-width: $bp-6) {
      font-size: 1.5rem;
    }
  }

  &__user {
    width: fit-content;
    // border: 1px solid $color-font;
    padding: 1rem;
    border-radius: 10rem;
    position: relative;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-color: $color-light-grey;
    }

    & label {
      cursor: pointer;
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      column-gap: 1rem;

      & svg {
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-font;
        stroke: none;
      }
    }

    & input {
      display: none;
    }

    &--container {
      visibility: hidden;
      position: absolute;
      border: 1px solid $color-font;
      width: 100%;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      font-size: 1.4rem;
      font-weight: 700;
      padding: 0.5rem;
      border-radius: 10rem;
      background-color: $color-bg;

      & p {
        padding: 1rem;
        border-radius: 10rem;
        transition: background .3s;
        
        &:hover {
          background-color: rgba($color-red, 0.3);
        }
      }
    }
  }
}

.navbar__user input:checked + .navbar__user--container {
  visibility: visible;
}