@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

$color-blue: #ff8e3c;
$color-green: #8361e0;
$color-purple: #d9376e;
$color-white: #f0f0f0;

$color-font: #161D26;
$color-bg: #ebebeb;
$color-grey: #cfcfcf;
$color-dark-grey: #6b6b6b;
$color-light-grey: #d8d8d8;

$bp-13: 1300px;
$bp-12: 1250px;
$bp-11: 1100px;
$bp-10: 1000px;
$bp-9: 900px;
$bp-8: 800px;
$bp-7: 700px;
$bp-6: 600px;
$bp-5: 500px;
$bp-4: 400px;
$bp-3-5: 350px;
$bp-3: 300px;

$font: "Inter", sans-serif;
$font-display: "Lora", serif;

@mixin boxshadow {
  border: 1px solid $color-font !important;
  box-shadow: 3px 3px 0px $color-font !important;
  transition: all .3s;
}
@mixin glowBox($color, $spread) {
  background-color: rgba($color, 0.2);
  box-shadow: 0px 0px $spread rgba($color, 0.3);
}
