@import url('https://fonts.googleapis.com/css2?family=Adamina&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$color-blue: #02a8c9;
$color-green: #de004b;
$color-purple: #bf46ff;
$color-biege: #fce8ce;
$color-white: #fff;

$color-font: #3A3A3A;
// $color-white: #fff;
$color-bg: #EBEBEB;
$color-grey: #656565;
$color-dark-grey: #888888;
$color-light-grey: #c0c0c0;

$bp-13: 1300px;
$bp-11: 1100px;
$bp-10: 1000px;
$bp-9: 900px;
$bp-8: 800px;
$bp-7: 700px;
$bp-6: 600px;
$bp-5: 500px;
$bp-4: 400px;
$bp-3-5: 350px;
$bp-3: 300px;

$font: "Inter", sans-serif;
$font-display: "Adamina", serif;
