/* ===== Orange Theme ===== */

/* Header */
.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.5rem;
}

/* Icon */
.card-icon {
  background: rgba(255, 118, 20, 0.12);
  color: #ff7614;
  padding: 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center
}

/* Title */
.card-title {
  font-size: 2vh;
  font-weight: 600;
  color: #4b5563;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Value */
.card-value {
  font-size: 2.6rem;
  font-weight: 800;
  color: #ff7614;
  padding-top: 1rem;

}


/* Connection Status */
.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.online {
  background-color: #22c55e;
}

.offline {
  background-color: #9ca3af;
}
.comments-theme {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  .comments-box {
    flex: 1;              // fills the available space inside the box
    overflow-y: auto;     // scroll when content exceeds box
    padding-right: 0.5rem;
    width: 100%;

    .comment-item {
      border-bottom: 1px solid #eee;
      padding: 0.5rem 0;

      p {
        margin: 0;
        color: #4b5563;
        font-size: 2vh;  // optional responsive font size
      }
    }
  }
}