@use 'var';
@use 'general';
@use 'base';
@use "animations";
@use "navbar";
@use "home";
@use "chatbtn";
@use "chatbot";
@use "info";
@use "auth";
@use "dashboard";
@use "sidebar";
@use "Iot";