@use 'var';
@use 'general';
@use 'base';
@use "animations";
@use "navbar";
@use "home";
@use "chatbtn";
@use "chatbot";
@use "info";
@use "auth";

// DASHBOARD
@use "dashboard/dashboard";
@use "dashboard/sidebar";
@use "dashboard/adminDashboard";
@use "dashboard/dashboardCards";
@use "dashboard/feedback";
@use "dashboard/feedbackA";
@use "dashboard/feedbackCard";
@use "dashboard/visitorArrival";
@use "dashboard/visitorInvite";
@use "dashboard/parking";