@use "../var" as *;

.sidebar {
  background-color: $color-white;
  width: 15%;
  min-width: 25rem;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 8rem 1fr max-content;
  grid-row: 1 / -1;
  border-right: 1px solid $color-grey;

  & a.active {
    color: $color-font;
    font-weight: 500;
    border-left: 4px solid $color-orange;
    background-color: $color-orange;
    @include boxshadow;
  }

  & > div {
    padding: 2rem;
  }

  &__logo {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    border-bottom: 1px solid $color-grey;
    padding: 2rem 2rem 1.5rem !important;

    & img {
      width: 3rem;
      height: 3rem;
    }

    & p {
      font-size: 3rem;
      font-weight: 600;
      display: inline-block;
      background-image: linear-gradient(
        to right bottom,
        $color-orange,
        $color-orange-2
      );
      background-clip: text;
      color: transparent;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    & a {
      padding: 1.5rem;
      font-size: 1.6rem;
      border-radius: 10rem;
      color: $color-dark-grey;
      // transition: all 0.3s;
      border: 1px solid transparent;
      display: flex;
      column-gap: 1.5rem;
      align-items: center;


      & svg {
        width: 2rem;
        height: 2rem;
        vertical-align: sub;
      }

      &:hover {
        background-color: rgba($color-orange, 0.8);
        color: $color-font;
        border: 1px solid $color-font;
      }
    }
  }

  &__bottom {
    font-size: 1.6rem;
    border-top: 1px solid $color-grey;

    & a {
      color: $color-dark-grey;
      display: flex;
      column-gap: 1rem;
      align-items: center;
      border-radius: 1rem;
      padding: 1rem;
      font-weight: 500;

      // &:hover {
      //   background-color: rgba($color-orange, 0.5);
      // }

      & img {
        width: 3rem;
        height: 3rem;
        border-radius: 10rem;
      }
    }
  }
}
