@use "../var" as *;
.webcam-box {
  padding: 0;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    object-fit: contain; // <-- change here
    border-radius: inherit;
  }
}

.visitor-arrival {
  min-height: auto !important;

  p{
    font-size:1.3rem;
  }
}

.preview-box {
  padding: 0;
  overflow: hidden;
  aspect-ratio: 4 / 3;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain; // <-- change here
    border-radius: inherit;
  }
}

/* Centered title for Arrival page only */
.auth__logo--center {
  text-align: center;

  h2 {
    width: 100%;
  }
}

/* Instruction text */
.auth__description {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #6b7280; // same muted tone
  line-height: 1.5;
}
