@use "../var" as *;

.webcam-box {
  padding: 0;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    object-fit: contain; // <-- change here
    border-radius: inherit;
  }
}

.invite-page {
  min-height: auto !important;

  p{
    font-size:1.5rem;
  }
}

.preview-box {
  padding: 0;
  overflow: hidden;
  aspect-ratio: 4 / 3;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain; // <-- change here
    border-radius: inherit;
  }
}

.auth__logo--center {
  text-align: center;

  h2 {
    width: 100%;
  }
}

.auth__description {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: $color-dark-grey; // same muted tone
  line-height: 1.5;
}

